WEB_PUSH_PUBLIC_KEY= your web push public key
WEB_PUSH_PRIVATE_KEY= your web push private key
VITE_WEB_PUSH_PUBLIC_KEY= same as web push public key
JWT_TOKEN_05_2036= JWT token generated for express websocket client to get price data from our python server
EXCHANGE_RATE_API= Get current exchange rates from -> https://www.exchangerate-api.com/
MONGO_URL = Create your mongodb url from mongo atlas -> https://www.mongodb.com/products/platform/atlas-database
JWT_SECRET = Keep your jwt secret here