body {
    overflow: hidden;
}
.chart-page{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
    
}
/* .main-components{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.top-bar{
    width:100%;
    height: 50px;
    display: flex;
}

.main-info */

.Sidebar{
    display: flex;
    width: 5%;
    max-width: 60px;
    border-left: solid rgba(255, 255, 255, 0.329) 1px;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    padding-right: 10px;
    gap: 15px;
}
.Chart{
    /* display: flex; */
    flex:1 1 0px;
    min-width: 0;
    height: 99%;
    position: relative; /* Keeps the chart internal elements contained here */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.top-bar{
    width: 100%;
    height: 35px;
    display: flex;
    border-bottom: solid white 1px;
    
}

.Sidebar-Button{
    height: 40px;
    width:100%;
    background-color: black;
    border: none;
}

.Sidebar-Button:hover{
    background-color: rgba(255, 255, 255, 0.13);
}

#watchlist{
    background-image: url("../../assets/Icons/watchlist.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#place-order{
    background-image: url("../../assets/Icons/order.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.watchlist, .orderform {
    flex: 0 0 400px; /* Fixed width, do not grow or shrink */
    height: 99%;
    width: 250px;
    background-color: black; /* Match your theme */
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}