.heading-wl{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    height:35px;
    border-bottom: solid rgba(255, 255, 255, 0.315) 1px;
}
.ticker{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid rgba(255, 255, 255, 0.315) 1px;
}

.stock-list{
    height: 100%;
    border: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 5px;
    overflow: scroll;
}

.ticker:hover{
    background-color: rgba(255, 255, 255, 0.123);
}


.Symbol, .price, .change, .per-change{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
}